.list {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 390px));
	gap: 40px;
	justify-content: center;

	width: 100%;
	max-width: 1270px;
	margin: 0 auto;

}

@media (max-width: 1270px) {
	.list {
		grid-template-columns: repeat(2, minmax(0, 390px));
	}
}

@media (max-width: 768px) {
	.list {
		grid-template-columns: minmax(0, 320px);
		row-gap: 40px;
	}
}