.header {
	color: white;
	margin: 65px auto;
	max-width: 1240px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.menuOpen .burger {
	display: none;
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.nav {
	display: flex;
	gap: 40px;
}

.link {
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	transition: opacity 0.4s ease;
	cursor: pointer;
}

.link:hover {
	opacity: 0.6;
}

.burger {
	display: none;
	flex-direction: column;
	gap: 4px;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 1001;
}

.burger span {
	display: block;
	width: 25px;
	height: 2px;
	background-color: white;
}

.mobileMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgb(37, 37, 47);
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	z-index: 1000;
	margin: 0 auto;
	box-sizing: border-box;
	overflow-y: auto;
	justify-content: space-between;
}

.close {
	align-self: flex-end;
	font-size: 32px;
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	padding-right: 5px;
	z-index: 1001;
}

.mobileNav {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.mobileLink {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.contacts {
	margin-top: 100px;
	margin-bottom: 250px;
	font-size: 16px;
	color: #b5b5c3;
	display: flex;
	flex-direction: column;
	gap: 20px;
}


@media (max-width: 768px) {
	.nav {
		display: none;
	}

	.burger {
		display: flex;
	}
}